<h1>Add a Movie</h1>
{{!-- When upload image add to form enctype="multipart/form-data" --}}
<form action="/movies/create" method="POST" enctype="multipart/form-data">

<label>Title:</label>
  <input type="text" name="theTitle" id="">

  <label>Image:</label>
  {{!-- If we want to upload an image type="text" ==> type="file" and name becomes name="img" --}}
  <input type="file" name="img" id="">

  <label>Genre:</label>
  <input type="text" name="theGenre" id="">

   <label>Plot:</label>
  <input type="text" name="thePlot" id="">

  <label>Cast:</label>
  <select name="theCelebrity" multiple>
{{#each celebrities}}
<option value="{{this._id}}">{{this.name}}</option>
{{/each}}
  </select>

  <select name="theCelebrity" multiple>
{{#each celebrities}}
<option value="{{this._id}}">{{this.name}}</option>
{{/each}}
  </select>

  <button type="submit">Creat Movie</button>

</form>